/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* VARIABLE */
:root {
    --primary: #D70F64;
    --gray: rgba(128,128,128,0.208);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

.max-w-xl {
    max-width: 1300px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.4rem;
}

nav.active {
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
}

nav > .logo {
    padding: 1rem 0;
    color: var(--primary);
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
}

nav > svg {
    cursor: pointer;
}

nav > .logo > svg {
    margin-right: 0.3rem;
    display: none;
}

nav .login-btn {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: none;
    background-color: transparent;
    border-right: 1px solid var(--gray);
    border-left: 1px solid var(--gray);
    padding: 1.4rem;    
    margin-right: 1rem;
    cursor: pointer;
}

.login-btn span {
    margin-left: 0.5rem;
    font-weight: 600;
}

/* ---------HERO SECTION--------- */
section.hero {
    padding: 0 1rem;
    height: 500px;
    border: 1px solid transparent;
    position: relative;
}

.hero h3 {
    font-size: 2rem;
    font-weight: 300;
    margin-top: 9rem;
    min-width: 220px;
    width: 70%;
}

.hero .bg-wrapper {
    position: absolute;
    background: url(img/hero-bg-xl.png);
    width: 33%;
    height: 100%;
    margin-left: 67%;
    z-index: -1;
    float: right;
    max-height: 335px;
    background-size: cover;
}

.hero .actions {
    margin-top: 4rem;
}

.actions .input-container {
    position: relative;
}

.actions input {
    width: 100%;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    outline: none;
    border: 1px solid #dcdcdc;
    color: #333;
    font-size: 0.9rem;
    box-shadow: 0 0.3rem 2rem rgb(0 0 0 /10%);
}

.actions input::placeholder {
    color: darkgrey;
}

.input-container svg {
    position: absolute;
    top: 20px;
    right: 20px;
}

.actions button {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 0 5rem;
    margin-top: 1rem;
    height: 64px;
    width: 100%;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 300;
    cursor: pointer;
}
/* ---------HERO SECTION END--------- */

/* ---------PARTNERS SECTION--------- */
.partners {
    margin: 4rem 0;
}

.partners .backdrop-text {
    padding: 0 2rem;
}

.partners .caption {
    padding: 0 2rem;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}

.partners .background-image {
    background: url(img/partner-bg.png);
    min-height: 280px;
    background-size: cover;
    height: 100%;
}

.partners .content {
    border: 2px solid black;
    background-color: white;
    margin: 0 1rem;
    margin-top: -4rem;
    padding: 1rem 2rem;
}

.content p {

}

.content .header-text {

}

.content button {

}
/* ---------PARTNERS SECTION END--------- */

/* ---------MEDIA QUERIES FOR MOBILE--------- */
@media screen and (min-width: 768px) {
    nav > .logo > svg {
        display: inline;
    }

    .hero .actions {
        background-color: white;
        box-shadow: 0 0.3rem 2rem rgb(0 0 0 /10%);
        display: flex;
        padding: 1rem;
        max-width: 960px;
    }

    .actions input {
        box-shadow: none;
    }

    .actions .input-container {
        width: 80%;
    }

    .actions button {
        margin: 0;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
    }

    section.hero {
        padding: 0 3rem;
    }
}

/* ---------MEDIA QUERIES FOR TABLET--------- */
@media screen and (min-width: 960px) {
    nav > .profile-icon-medium {
        display: none;
    }

    nav .login-btn {
        display: inline-flex;
    }

    .hero .bg-wrapper {
        max-width: 400px;
    }
}

/* ---------MEDIA QUERIES FOR BIG SCREEN--------- */
@media screen and (min-width: 1264px) {
    .hero .bg-wrapper {
        max-height: 500px;
    }

    .hero h3 {
        font-size: 2.8rem;
    }
}

/* ---------MEDIA QUERIES FOR FULL SCREEN--------- */
@media screen and (min-width: 1440px) {
    .hero .bg-wrapper {
        max-height: 550px;
    }
}